@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-Bold-700.ttf') format('truetype'),
}

p {
    margin: 0;
}

.header {
    width: 100%;
    background-image: url('../image/background4.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: space-around;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: transparent;
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 17px;
    font-family: "Nunito", sans-serif;  
    font-weight: 800;
    transition: top 0.5s ease-in-out; 
}

.navbar-brand-text {
    margin-left: 20px;
    font-size: 25px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(to right,red, orange, yellow, #00ce00, skyblue, #ac2aac);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav-link {
    color:#ffffff;
    text-shadow: 1px 2px 1px  #21699a;
}

.auth-link i {
    color: #ffffff;
    font-size: 25px;
    text-shadow: 1px 2px 1px  #21699a;
}

.auth-link i:hover {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(158, 190, 232);
    transition: 0.5s ease;
}
    
.nav-link.active {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(158, 190, 232);
    transition: 0.5s ease;
}

.nav-link:hover {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(158, 190, 232);
    transition: 0.5s ease;
}

.navbar-show {
    top: 0;
}

.navbar-hide {
    top: -60px;
}

.navbar-scrolled {
    position: fixed;
    background-color: #f3f5f7; /* Цвет навигационной панели при прокрутке */
    opacity: 95%;
    padding-top: 10px;
    z-index: 1;
}

.nav-link-scrolled {
    color: rgb(48, 110, 176);
    text-shadow:none;
}

.auth-link .person-scrolled {
    color: rgb(48, 110, 176);
    text-shadow:none;
}

.main-text {
    font-size: 28px;
    color:#ffffff;
    text-shadow: 1px 2px 1px  #21699a;
    position: absolute;
    top: 50%;
    left: 25%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
}

.nav-item {
    padding-right: 30px;
    padding-left: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color:#ffffff;
    text-shadow: 1px 2px 1px  #21699a;
}

.main-content {
    background-color:#bcdef7;
}

.main-content-text {
    text-align: center;
    color: rgb(28, 84, 145);
    font-size: 35px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
}

.btn-icon {
    transition: all 0.2s ease-in-out;
}
  
.btn-icon:hover {
    transform: scale(1.2);
    transition: 0.5s ease;
}
 
.info-cards {
    padding-bottom: 80px;
}

.card {
    font-family: "Nunito", sans-serif;
    color: #21699a;
    text-align: center;
    border-radius: 15px;
    height: 390px;

}

.card-title {
    padding-top: 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(50, 141, 215);
    -webkit-text-stroke: 1px rgb(105, 134, 197); /* Ширина и цвет контура */
    margin-bottom: 20px;
}

.card-text {
    /* font-family: "Nunito", sans-serif;
    color: #21699a;
    text-align: center; */
    padding-left: 10px;
    padding-right: 10px;
    /* position: absolute;
    bottom: 50% ;
    /* left: 50%;
    right: 20%; */
}

.card-body {
    /* position: relative; */
    padding: 0;
} 

.info {
    background-image: url('../image/back-info.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 20px;
    padding-bottom: 100px;
}

.info-box {
    width: 40%;
    padding-left: 120px;
    padding-top: 40px;
}

.info-text {
    font-size: 28px;
    color:#ffffff;
    text-shadow: 1px 2px 1px  #21699a;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
}

.info-subtext {
    font-size: 22px;
    color: rgb(28, 84, 145);
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.btn-color-change {
    background-color: #9bc8e7;
    color: #ffffff;
}
  
.btn-color-change:hover {
    transition: 0.5s ease;
    background-color: #8cb5cf;
    color: white;
}
  
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.key_block {
  display: flex;
  justify-content: center;
  padding: 0 100px;
  gap: 12px;
  color: #204e7e;
}

.key_block_item {
    display: flex;
    width: 20%;
    min-width: 200px;
    flex-direction: column;
    align-items: center;
}

.trust-text {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    margin-bottom: 60px ;
    font-size: 2rem;
    color: #1c5491;
}
  
.col-sm-3 {
    width: calc(25% - 60px); /* 25% - количество элементов в строке, 60px - значение паддинга */
    padding: 0 60px; /* значение паддинга */
    box-sizing: border-box;
    margin-bottom: 40px; /* задаем отступ между строками */
    text-align: center; /* центрируем текст */
}

.key-text {
    margin-top: 20px;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    margin-bottom: 60px ;
    font-size: 1rem;
}

.gallery-main {
    position: relative;
}

.main-text-gallery {
    font-size: 28px;
    color:#ffffff;
    text-shadow: 1px 2px 1px  #21699a;
    position: absolute;
    top: 46%;
    left: 50%;
    text-transform: uppercase;
    /* transform: translate(-50%, 50%); */
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 800; 
}
 
.btn-gallery {
    margin-top: 10px;
    width: 190px;
    background-color: #bcdef7;
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-shadow: none;
    text-transform: lowercase;
}
  
.btn-gallery:hover {
    transition: 0.7s ease;
    background-color: #8cb5cf;
    color: white;
}

footer {
    height: 680px;
    background-image: url("../image/footer1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.footer-logo {
    text-align: center;
}

.footer-text {
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(to right, red, orange, yellow, #00ce00, skyblue, #ac2aac);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; 
    color: transparent;
}

.footer-info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer_schedule {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 25px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    color: #1c5491;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 25px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    color: #1c5491;
}

hr {
    border-top: 3px solid #bcdef7; /* изменяем цвет и толщину линии */
}

@media only screen and (max-width: 1024px) {
    .info {
      background-position: center;
      padding: 20px;
      /* padding-top: 80px; */
    }
    
    .info-box {
      width: 50%;
      padding-left: 80px;
      /* padding-top: 20px; */
    }
  
    .info-text {
      font-size: 22px;
      text-align: center;
      padding-right: 20px;
      padding-left: 20px;
    }
  
    .info-subtext {
      font-size: 16px;
      text-align: center;
      padding-right: 20px;
      padding-left: 20px;
    }

    .key_block_item {
        /* display: flex; */
        /* width: 15%; */
        min-width: 170px;
        /* border: 1px solid black; */
        /* flex-direction: column; */
        /* align-items: center; */
        /* justify-content: center; */
    }
}


/* Стили для мобильных устройств */
@media only screen and (max-width: 767px) {
    .info {
      background-position: top;
      background-image: url('../image/zoomImg.png');
      padding: 20px;
      padding-top: 520px;
    }
    
    .info-box {
      width: 100%;
      padding-left: 0;
      padding-top: 20px;
    }
  
    .info-text {
      font-size: 22px;
      text-align: center;
      padding-right: 20px;
      padding-left: 20px;
    }
  
    .info-subtext {
      font-size: 18px;
      text-align: center;
      padding-right: 20px;
      padding-left: 20px;
    }

    .key_block {
        /* display: flex;
        justify-content: center; */
        /* padding: 0 100px;
        gap: 12px;
        color: #204e7e; */
        flex-direction: column;
        align-items: center;
    }

    .key_block_item {
        /* display: flex; */
        width: 70%;
        /* min-width: 180px; */
        /* border: 1px solid black; */
        /* flex-direction: column; */
        /* align-items: center; */
        /* justify-content: center; */
    }
  }
 